@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes rain-fall {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(100vh);
  }
}
* {
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none
}

.favicon {
  border-radius: 50%;
}

body {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: 'VT323', monospace;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.animated-text {
  animation: fadeIn 1s ease-in-out;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.content {
  position: relative;
}

.rain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}


.drop {
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: #fff;
  animation: rain-fall 1s linear infinite;
}

.avatar {
  animation: fadeIn 1s ease-in-out;
  border-radius: 50%;
  height: 150px;
  margin-bottom: 20px;
  width: 150px;
}

.buttons, .copy-section {
  margin: 20px 0;
}

.btn {
  animation: fadeIn 1s ease-in-out;
  display: block;
  width: 200px;
  margin: 10px auto;
  padding: 10px;
  background: none;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  text-underline-offset: unset;

}
.btn:hover {
  opacity: 0.7;
}

.copied-message {
  position: absolute;
  top: 135%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
}

.copied-message.show {
  opacity: 1;
}